// variables
$color-blanco-100: rgba(255, 255, 255, 1);
$color-blanco-200: rgba(255, 255, 255, .2);
$color-blanco-500: rgba(255, 255, 255, .5);

$color-negro-100: rgba(0, 0, 0, 1);
$color-negro-200: rgba(0, 0, 0, .2);

$color-rojo-100: rgba(255, 0, 0, 1);
$color-rojo-800: rgba(255, 0, 0, .8);

$color-verde-100: rgba(43, 98, 18, 1);
$color-verde-800: rgba(43, 98, 18, 0.8);
